* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  display: block;
  transition: transform 0.3s ease;
}

h1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Fire kolonner */
  grid-template-rows: repeat(5, auto);
  gap: 15px;
}

.box {
  grid-row: span 5;
  display: grid;
  grid-template-rows: subgrid;
  gap: 10px;
  background-color: #f9f9f9;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 8px;
}
.effekt_box {
  overflow: hidden;
}
img:hover {
  transform: scale(1.1);
}

.procent {
  position: absolute;
}

.rabat {
  background-color: red;
  color: white;
  padding: 0.5rem;
  margin-top: 1rem;
}

a {
  border: 1px solid #000000; /* Sorte ramme omkring teksten */
  padding: 10px; /* Polstring inde i boksen */
  background-color: transparent; /* Gør baggrunden gennemsigtig */
  color: #000000; /* Farve på teksten */
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  margin-top: 1rem;
}

p {
  padding-top: 10px;
}

a:hover {
  text-decoration: underline;
}

.før_pris {
  text-decoration: line-through;
}

.udsolgt_box {
  position: relative;
}

.udsolgt_billede {
  filter: grayscale(100%) brightness(60%);
}

.udsolgt_tekst {
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  color: white;
  font-size: 3rem;
}

/* produkt */

@media (min-width: 700px) {
  .grid_1_1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.billede_produkt {
  padding: 1rem;
}

.kategori_øverst {
  padding-bottom: 1rem;
}

.produkt_overskrift {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.tekst_produkt {
  padding-bottom: 1.5rem;
}

.læg_i_kurv {
  margin-top: 1rem;
}
