* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  display: block;
  transition: transform 0.3s ease;
}

/*header*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

main {
  margin-right: 1rem;
  margin-left: 1rem;
}

.logo img {
  height: 40px;
}

nav {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  margin-right: 20px;
}

.menu li:last-child {
  margin-right: 0;
}

.menu a {
  display: block;
  padding: 10px;
  color: #333333;
  text-decoration: none;
  transition: color 0.3s;
  text-align: end;
}

.menu a:hover {
  color: #ff0000;
}

.burger {
  width: 30px;
  height: 20px;
  cursor: pointer;
}

.burger .line {
  width: 100%;
  height: 2px;
  background-color: #333333;
  margin-bottom: 5px;
  transition: 0.2s linear;
}
.burger {
  display: none;
}
@media screen and (max-width: 800px) {
  .menu {
    display: none;
  }
  .burger {
    display: block;
  }
  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    transition: 0.2s linear;
  }

  .burger.active .line:nth-child(2) {
    opacity: 0;
    transition: 0.15s linear;
  }

  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
    transition: 0.2s linear;
  }

  nav.active .menu {
    display: block;
    background-color: #ffffff;
    position: absolute;
    top: 94px;
    left: 0;
    width: 100%;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }

  nav.active .menu li {
    margin: 10px 20px;
  }

  nav.active .menu a {
    font-size: 24px;
  }
}

h1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
h2 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Fire kolonner */
  grid-template-rows: repeat(5, auto);
  gap: 15px;
}

.box {
  grid-row: span 5;
  display: grid;
  grid-template-rows: subgrid;
  gap: 10px;
  background-color: #f9f9f9;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 8px;
}

@media (min-width: 800px) {
  .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Fire kolonner */
    grid-template-rows: repeat(5, auto);
    gap: 15px;
  }

  .box {
    grid-row: span 5;
    display: grid;
    grid-template-rows: subgrid;
    gap: 10px;
    background-color: #f9f9f9;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 8px;
  }
}
.effekt_box {
  overflow: hidden;
}
.produktliste_billeder:hover {
  transform: scale(1.1);
}

.procent {
  position: absolute;
}

.rabat {
  background-color: red;
  color: white;
  padding: 0.5rem;
  margin-top: 1rem;
}

.knap {
  border: 1px solid #000000; /* Sorte ramme omkring teksten */
  padding: 10px; /* Polstring inde i boksen */
  background-color: transparent; /* Gør baggrunden gennemsigtig */
  color: #000000; /* Farve på teksten */
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  margin-top: 1rem;
}

p {
  padding-top: 10px;
}

a:hover {
  text-decoration: underline;
}

.grå_tekst {
  color: #818181;
  font-size: 14px;
}

.før_pris {
  text-decoration: line-through 0.5px;
}

.procenter {
  color: red;
}

.rød_tekst {
  color: red;
}

.udsolgt_box {
  position: relative;
}

.udsolgt_billede {
  filter: grayscale(100%) brightness(60%);
}

.udsolgt_tekst {
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  color: white;
  font-size: 3rem;
}

.hide {
  display: none;
}

/* produkt */

@media (min-width: 800px) {
  .grid_1_1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.billede_produkt {
  padding: 1rem;
}

.kategori_øverst {
  padding-bottom: 1rem;
}

.hjem_øverst {
  text-decoration: none;
  color: #000000;
}

.produkt_overskrift {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.tekst_produkt {
  padding-bottom: 1.5rem;
}

.læg_i_kurv {
  margin-top: 1rem;
}
